@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    /*width: 1000px;*/
    font-family: Roboto;
}

header {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 100px;
    /*margin-right: 5%;
    margin-left: 5%;*/
}

header article {
    width: 220px;
    display: inline-flex;
    align-items: baseline;
}

#tete{
    display: flex;
    flex-direction: column;
}

.lienbook{

    color: #000;
    text-decoration: none;
}

.lienbook:hover{

    text-decoration: underline;
}

main{
    margin: 0 100px;
}

#btn2 {
    background-color: #4A3174;
    color: #fff;
    font-weight: 500;
    padding: 20% 50%;
    margin-left: 25%;
    border: none;
}

#lienmenu {
    display: none;
}

#vingt a{
    color:  #000;
    text-decoration: none;
}

.books1{
    margin: 2% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.books1:hover{

    box-shadow: 0px 4px 20px rgba(158, 158, 158, 0.79);
}

.books1 section{
    margin-left: 2%;
}

.bookimg{

    width: 100px;
}

nav a {
    text-decoration: none;
    margin-right: 8%;
}

nav {
    width: 35%;
}

h2 {
    color: #4A3174;
    margin: 2% 0%;
}

ul {
    padding: 0;
}

li {
    display: inline;
}


#titre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#titre2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#titre h1 {
    margin-right: 5%;
    font-size: 64px;
    color: #4A3174;
}

#titre img {
    padding-right: 5%;
    margin-right: 6%;
    width: 180px;
    height: 150px;
}

/*#titre2{
    width: 200px;
}*/

section button {
    background-color: #4A3174;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 41px;
    width: 67px;
}

#cherche1 {
    width: 441px;
    height: 40px;
}


#prin {
    display: flex;
    flex-direction: column;
}

#article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


footer {
    background-color: #4A3174;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 320px;
}

footer section {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

*/ footer section a {
    margin-top: 3%;
}

#titrefooter{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#titrefooter img{

    max-width: 10%;
    min-width: auto;
}

#bas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bas a{

    padding: 1%;
}

#bas a:hover{

    background-color: #9E9E9E;
    border-radius: 3%;
}

.h33 {
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media (max-width :800px) {
    body, header, main{
        margin: 0;
    }
    header, header article, header ul {
        display: flex;
        flex-direction: column;
    }
    #lienmenu {
        display: block;
        width: 30%;
    }

    .books1{
        margin: 15% 0%;
    }
    .menu, .menu1 {
        display: none;
    }

    #img1{
        width: 30%;
    }

    #tete{
        display: flex;
        flex-direction: column;
    }

    #titre{
        flex-direction: column;
    }
    #titre img {
        width: 35%;
        height: auto;
    }
    #titre div {
        width: 100%;
        margin-bottom: 5%;
        justify-content: center;
    }
    #titre2 p {

        top: 100px;
        left: 175px;
    }

    #cherche1{

        width: 75%;
    }

    #disapear{

        display: none;
    }

    .menu.visible {
        display: block;
    }

    .menu1.visible {
        display: flex;
    }
    #article div {
        margin-top: 5%;
        align-items: center;
    }

    /*#bas{

        flex-direction: column;
    }*/

}