
/*____________________________________le header*/

header{
    
    display: flex;
    background-color: #C06A45;

}

nav{
    margin-left: 750px;
    font-size: 1em;
}

ol{
    list-style-type: none;
    display: flex;
}
li{
    padding: 12px;
    color: white;
    font-family: "Roboto" ;
}
#odd{
    color: brown;
}
#even{
    color: darkblue;
}
img{
    width: 3em;
    height: 3em;
    padding: 15px;
}


a:link {
    color: black;
    text-decoration: none;

  }

  a:hover {
    border-bottom: 1px solid;
  }
  
  a:visited {
    color: white;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #FF2D00;
  }
  
  
  a:active {
    background: #B65A33;
    color: #FF2D00;
  }

  #titre1{

    padding:10px;
    font-size: 20px;
    color: white;
    font-family: Roboto;
  }


  @font-face {
      font-family: Roboto;
      src: url(Roboto/Roboto-Bold.ttf) format("truetype");
  }



/*_________________________________________Le body*/

body{
    background-color: white;
}


section{

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 16px;
  background-color: #2196F3;
  padding: 10px;
}

div{
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;

}

